In [ ]:
# from google.colab import files
# uploaded= files.upload()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import zipfile

# with zipfile.ZipFile('intersectiond.zip', 'r') as zip_ref:
with zipfile.ZipFile('/content/drive/MyDrive/intersectiond.zip', 'r') as zip_ref:
    zip_ref.extractall('inter1')
    file_names = zip_ref.namelist()
    for file_name in file_names:
        print(file_name)

61bb445ab605497121d0b77c.csv
61bb445ab605497121d0b77c_model_info.csv

In [ ]:
# file_path= f"inter1/61bb445ab605497121d0b77c_model_info.csv"
import pandas as pd
df1=pd.read_csv('inter1/61bb445ab605497121d0b77c.csv')
df2=pd.read_csv('inter1/61bb445ab605497121d0b77c_model_info.csv',usecols=range(4), error_bad_lines=False)
df1.reset_index(inplace=True)

<ipython-input-122-270ffa298f4e>:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df2=pd.read_csv('inter1/61bb445ab605497121d0b77c_model_info.csv',usecols=range(4), error_bad_lines=False)

In [ ]:
df1.columns = df1.columns[19:].to_list() + df1.columns[:19].to_list()

In [ ]:
df1.columns

Index(['timestamp', 'id', 'travelTimeSec', 'freeFlowTravelTimeSec', 'delaySec',
       'usualDelaySec', 'stops', 'queueLengthMeters', 'volumePerHour',
       'exitIndex', 'ratioPercent', 'probesCount', 'level_0', 'level_1',
       'level_2', 'level_3', 'level_4', 'level_5', 'level_6', 'level_7',
       'level_8', 'level_9', 'level_10', 'level_11', 'level_12', 'level_13',
       'level_14', 'level_15', 'level_16', 'level_17', 'level_18'],
      dtype='object')

In [ ]:
print(df1.shape)
df1

In [ ]:
print(df2.shape)
df2

In [ ]:
address= df2.iloc[5:10,0]
print (address) # addresses of entry road
print (len(address))

5     398264603
6    -626246670
7     593057788
8    1936751403
9    1220266539
Name: name, dtype: object
5

In [ ]:
df1['timestamp'] = pd.to_datetime(df1['timestamp'])
start_time = pd.to_datetime('17-12-2021 09:00', format='%d-%m-%Y %H:%M')
end_time = pd.to_datetime('17-12-2021 09:59', format='%d-%m-%Y %H:%M')
start_time
df1['timestamp'][:5]

0   2021-12-16 22:56:26
1   2021-12-16 22:56:26
2   2021-12-16 22:56:26
3   2021-12-16 22:56:26
4   2021-12-16 22:57:24
Name: timestamp, dtype: datetime64[ns]

In [ ]:
filtered_data= df1[(df1['timestamp']>=start_time) & (df1['timestamp']<=end_time)]
filtered_data

In [ ]:
filter=filtered_data[(filtered_data['id']==1220266539)]
filter.iloc[:, 8:]

In [ ]:
column_name = "probesCount"
columns=df1.columns
column_index = columns.get_loc(column_name)
column_index

11

In [ ]:
id10=0
  # if (filtered_data['id']==1220266539):
pd.set_option('display.max_columns', None)
total= filtered_data.groupby('id').sum()
total.iloc[:, :]
# filtered_rows=filtered_data[filtered_data['id']==1220266539]
# filtered_rows
# total = filtered_rows['level_9'].sum()
# total
# for i in rows:
#   if (filtered_data['id']==1220266539):
#     id10+=filtered_data['level_9'][i]

<ipython-input-132-72cd0ead696a>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total= filtered_data.groupby('id').sum()

,travelTimeSec,freeFlowTravelTimeSec,delaySec,usualDelaySec,stops,queueLengthMeters,volumePerHour,exitIndex,ratioPercent,probesCount,level_0,level_1,level_2,level_3,level_4,level_5,level_6,level_7,level_8,level_9,level_10,level_11,level_12,level_13,level_14,level_15,level_16,level_17,level_18
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
-626246670,2531,1062,1469,1818,1.334204,3933.98,0,0.0,0.0,0.0,47.0,640.0,154.0,0.0,0.0,0.0,6.0,8.0,2.0,236.0,1896.0,479.0,0.0,0.0,0.0,354.0,3356.0,896.0,0.0
593057788,1708,1180,528,756,0.000000,1705.46,0,0.0,0.0,0.0,59.0,3826.0,800.0,0.0,0.0,0.0,177.0,644.0,133.0,0.0,0.0,0.0,0.0,0.0,0.0,354.0,1430.0,284.0,0.0
800440149,2499,1652,847,1344,1.636822,2448.14,0,0.0,0.0,0.0,27.0,112.0,27.0,56.0,130.0,28.0,162.0,782.0,178.0,236.0,2716.0,640.0,0.0,0.0,0.0,354.0,2160.0,535.0,0.0
1220266539,3915,1475,2440,1953,0.769643,5797.07,0,0.0,0.0,0.0,59.0,1966.0,539.0,0.0,0.0,0.0,177.0,3934.0,1088.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
total.columns

Index(['travelTimeSec', 'freeFlowTravelTimeSec', 'delaySec', 'usualDelaySec',
       'stops', 'queueLengthMeters', 'volumePerHour', 'exitIndex',
       'ratioPercent', 'probesCount', 'level_0', 'level_1', 'level_2',
       'level_3', 'level_4', 'level_5', 'level_6', 'level_7', 'level_8',
       'level_9', 'level_10', 'level_11', 'level_12', 'level_13', 'level_14',
       'level_15', 'level_16', 'level_17', 'level_18'],
      dtype='object')

In [ ]:
total.shape

(4, 29)

In [ ]:
def fvehicleratios(vehicleno, total):
  vehicleratio=[]
  i=10
  colnum=len(total.axes[1])
  totalvehicles=0
  for i in range (10, colnum, 3):
    totalvehicles+=total.iloc[vehicleno,i]
  # print(totalvehicles)  
  # print(colnum)
  for i in range (10, colnum, 3):
    vehicleratio.append(total.iloc[vehicleno,i]/totalvehicles*100)
  # i+=4
  return vehicleratio
# print(total[0,10 ])

In [ ]:
df_entry = df2.iloc[3:10, :]
df_exit = df2.iloc[12:, :]
df_entry.columns = df2.iloc[2]
df_exit.columns = df2.iloc[11]
df_entry.reset_index(inplace=True)
df_exit.reset_index(inplace=True)
df_entry = df_entry.iloc[:, 1:]
df_exit = df_exit.iloc[:, 1:]

In [ ]:
print(df_entry.columns)
df_entry

Index(['id', 'name', 'roadName', 'direction'], dtype='object', name=2)

2,id,name,roadName,direction
0,-1789082902,West Bound,Unnamed road,WEST
1,800440149,Okhla Estate Marg West Bound,Okhla Estate Marg,WEST
2,398264603,West Bound,Unnamed road,WEST
3,-626246670,Shri Maa Anandmai Marg North Bound,Shri Maa Anandmai Marg,NORTH
4,593057788,Okhla Estate Marg East Bound,Okhla Estate Marg,EAST
5,1936751403,Maa Anand Mayee Marg South Bound,Maa Anand Mayee Marg,SOUTH
6,1220266539,Shri Maa Anandmai Marg South Bound,Shri Maa Anandmai Marg,SOUTH

In [ ]:
print(df_exit.columns)
df_exit

Index(['name', 'roadName', 'direction', 'frc'], dtype='object', name=11)

11                                name                roadName direction frc
0                           East Bound            Unnamed road      EAST   7
1         Okhla Estate Marg East Bound       Okhla Estate Marg      EAST   3
2                           East Bound            Unnamed road      EAST   7
3   Shri Maa Anandmai Marg South Bound  Shri Maa Anandmai Marg     SOUTH   3
4         Okhla Estate Marg West Bound       Okhla Estate Marg      WEST   3
5     Maa Anand Mayee Marg North Bound    Maa Anand Mayee Marg     NORTH   7
6   Shri Maa Anandmai Marg North Bound  Shri Maa Anandmai Marg     NORTH   3

In [ ]:
column_name="direction"
cols=df_entry.columns
column_index_entry= cols.get_loc(column_name)
column_index_entry

3

In [ ]:
column_name="direction"
cols=df_exit.columns
column_index_exit=cols.get_loc(column_name)
column_index_exit

2

In [ ]:
type(df_entry.iloc[0,3])

str

In [ ]:
import numpy as np
numvehicles=[]
# print(len(total.axes[0]))
# print(len(total.axes[1]))
for i in range (0,len(total.axes[0])):
  directionarr=[]
  row_entry_ind=i
  for k in range(0, len(df_entry.axes[0])):
    # print(k)
    # print(total.index[i], df_entry.iloc[k,0])
    # assert int(df_entry.iloc[k,0])==int(total.index[i])
    if (int(df_entry.iloc[k,0])==int(total.index[i])):
      row_entry_ind=k
      # print("entered", int(df_entry.iloc[k,0])==int(total.index[i]))
      # print(k)
      break
  for j in range (0, len(df_exit.axes[0])):
    temp= df_entry.iloc[row_entry_ind,column_index_entry]+" TO "+df_exit.iloc[j,column_index_exit]
    directionarr.append(temp)
  numvehicles.append(directionarr)  
  numvehicles.append(fvehicleratios(i, total))
numvehiclesarr=np.array(numvehicles)
numvehiclesarr.reshape(8,7)

array([['NORTH TO EAST', 'NORTH TO EAST', 'NORTH TO EAST',
        'NORTH TO SOUTH', 'NORTH TO WEST', 'NORTH TO NORTH',
        'NORTH TO NORTH'],
       ['7.309486780715396', '0.0', '0.9331259720062209',
        '36.70295489891136', '0.0', '55.05443234836703', '0.0'],
       ['EAST TO EAST', 'EAST TO EAST', 'EAST TO EAST', 'EAST TO SOUTH',
        'EAST TO WEST', 'EAST TO NORTH', 'EAST TO NORTH'],
       ['10.0', '0.0', '30.0', '0.0', '0.0', '60.0', '0.0'],
       ['WEST TO EAST', 'WEST TO EAST', 'WEST TO EAST', 'WEST TO SOUTH',
        'WEST TO WEST', 'WEST TO NORTH', 'WEST TO NORTH'],
       ['3.2335329341317367', '6.706586826347305', '19.40119760479042',
        '28.263473053892213', '0.0', '42.39520958083832', '0.0'],
       ['SOUTH TO EAST', 'SOUTH TO EAST', 'SOUTH TO EAST',
        'SOUTH TO SOUTH', 'SOUTH TO WEST', 'SOUTH TO NORTH',
        'SOUTH TO NORTH'],
       ['25.0', '0.0', '75.0', '0.0', '0.0', '0.0', '0.0']], dtype='<U32')

In [ ]:
# df_new = pd.DataFrame(columns = ["Entry Name", "Exit Name", "Entry Direction", "Exit Direction", "Number of Vehicles"])
# for name_en, dir_en in df_entry[["name", "direction"]]:
#   for name_ex, dir_ex in df_exit[["name", "direction"]]:
#     # number_of_vehicles = 
#     new_row = {
#         "Entry Name": name_en,
#         "Exit Name": name_ex,
#         "Entry Direction": dir_en, 
#         "Exit Direction": dir_ex, 
#         "Number of Vehicles": 0 #number_of_vehicles
#         }
#     df_new = df_new.append(new_row, ignore_index=True)